* {
    box-sizing: border-box;
    padding: 1%;
    margin: 1%;
}

#navigation {
    background-color: beige;
    width: 100%;
    height: auto;
}

#navigation, ul, a {
    text-decoration: none;
    /* pour enlever le ligne de lien hypertexte */
    list-style: none;
    /* pour enlever les "point" de la liste */
    color: red;
    text-align: center;
    display: inline-flex;
    font-size: 1.5rem;
    align-items: center;
    /* aligner l'element dans le bloc  */
    margin: 0 auto;

}

.container-pres {
    display: flex;
    flex-direction: row;
}

.photo {
    width: 40%;
    height: auto;
    border: 5px solid red;
    background-color: bisque;
}

.photo > img {
    width: 100%;
    height: auto;
}

h1,h2,h3,h4 {
    color: brown;
}

.texte1 {
font-size: 18px;
}

.footer {
    background-color: black;
}
 .fini {
    color: aliceblue;
    font-size: 20px;
    font: italic;
    text-align: center;
 }
/* "*" prendra effet à partir du <html></html> */
/* le id fonctionne avec le "#"
on peux mettre plusieurs balise dans un id */